<header>
  <div class="header-logo">
<a href="/">TweetApp</a>
  </div>
  <ul class="header-menus">
    <li>TweetAppとは</li>
  </ul>
</header>

<div class="about-main">
<a href="/about">TweetAppとは</a>
  <p>
    SNSサービスです。
    近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションできます。
  </p>
  <img class="about-img" src="/kiko2.jpg">
</div>